@keyframes 'fade_full'
{
	0%
	{
		opacity: 0.0;
	}

	50%
	{
		opacity: 0.9;
	}

	100%
	{
		opacity: 1.0;
	}
}

@keyframes 'color_transition'
{
	0%
	{
		brightness:  1;
	}

	50%
	{
		brightness:  1.6;
	}

	100%
	{
		brightness:  1;
	}
}

@keyframes 'refresh'
{
	0%
	{
		transform: rotateZ( 0deg );
	}

	100%
	{
		transform: rotateZ(180deg);
	}
}

.Battlepass
{
	width: 100%;
	height: 100%;
	z-index: -10;
}

#BattlepassButtonContainer
{
	margin-left: 0px;
	margin-top: 3.7%;
	align: center top;
	background-image: url("s2r://panorama/images/hud/reborn/bg_timer_psd.vtex");
	background-size: 100%;
	flow-children: down;
}

#BattlepassButtonContainer.BattleRoyale
{
	margin-left: 325px;
	align: left top;
}

#SafeToLeave {
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
	background-color: green;
	horizontal-align: center;
	border-radius: 50px;
	visibility: collapse;
}

#SafeToLeave Label {
	align: center center;
	color: white;
	text-transform: uppercase;
	text-align: center center;
	font-size: 14px;
}

#BattlepassButton
{
	width: 150px;
	height: 35px;
	horizontal-align: center;
	saturation: 0.8;
}

#BattlepassButton:hover
{
	saturation: 0.7;
}

#BattlepassButton:active
{
	saturation: 1.0;
}

#BattlepassButton Label
{
	align: center center;
	color: blue;
	text-transform: uppercase;
	text-align: center center;
	font-size: 18px;
}

#BattlepassButton:hover Label
{
	color: darkblue;
}

#BattlepassWindow
{
	width: 820px;
	height: 800px;
	transform: translate3d( 100%, 0, 0px );
	margin-bottom: 100px;
	background-color: gradient( linear, 100% 0, 0% 0%, from( #13161a ), color-stop( 0.4, #13161a ), to( #2b3139ee ) );
	border-top:  1px solid #3a363a;	
	border-left:  1px solid #3a363a;
	border-bottom: 1px solid #1d2126;	
	border-right: 1px solid #1d2126;
	box-shadow: 0px 0px 12px 0px #000000a5;
	align: right center;
	flow-children: down;
	visibility: collapse;
	padding: 10px;	
	transition-property: transform;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;	
}

#BattlepassWindow.setvisible {
	visibility: visible;
	transform: translate3d( 0, 0, 0px );
}

#BattlepassWindow.sethidden {
	visibility: collapse;
	transform: translate3d( 100%, 0, 0px );
}

#InfoContent
{
	width: 100%;
	/* height: 200px; */
	/* background-color:  #ddd; */
	flow-children: down;
}

#BattlepassInfoContainer,
#DonatorInfoContainer,
#LeaderboardInfoContainer, {
	width: 100%;
	height: 520px;
	flow-children: down;
	padding: 5px;
}

#BattlepassInfoContainer {
	overflow:  squish scroll;
}

#LeaderboardInfoContainer {
	background-color: #040c1850;
	height: fit-children;
	padding-bottom: 10px;
	overflow:  squish scroll;
}

#BattlepassButtons {
	margin-top:  -40px;
	margin-right:  10px;
	margin-bottom: 15px;
	width: 30%;
	flow-children: right;
	align:  right top;
}


#DonatorInfoContainer,
#LeaderboardInfoContainer {
	visibility: collapse;
}

#InfoHeader {
	width: 100%;
	height: 50px;
	background-color: #2c4d6015;
	border-bottom: 1px solid #29353b;
	margin-bottom: 20px;
}

.LeaderboardButtonLabel {
	width: 100%;
	text-align: center;
	font-size: 19px;
	color:#daebff;
	align:  center center;
}

#XP {
	background-color: #2b323fa4;
	height: 90%;
	align:  center center;
	margin-bottom: 5px;
}

#XP:hover {
	background-color: #303848;
}

#XP:active {
	background-color: #303848;
}

#IMR {
	background-color: #2b323fa4;
	height: 90%;
	align:  center center;
	margin-bottom: 5px;
}

#IMR:hover {
	background-color: #303848;
}

#IMR:active {
	background-color: #303848;
}


.LeaderboardRank,
.LeaderboardXP,
.LeaderboardIMR,
.LeaderboardAvatar,
.LeaderboardAvatar_alt
{
	text-align: center;
	font-size: 19px;
	color:#daebff;
}

.LeaderboardXP, {
	padding: 3px 10px 3px 10px;
}

/* Leaderboard Legend */
.LeaderboardLegend {
	width: 100%;
	height: 40px;
	flow-children: right;
	/* border-bottom: 1px solid white; */
}

/* Leaderboard */
.LeaderboardGames {
	width: 100%;
	height: 45px;
	flow-children: right-wrap;
	border-top: 1px solid #3f464ecc;
}

.LeaderboardRank {
	width: 10%;	
	align:  center center;
}

.LeaderboardAvatar {
	width: 15%;
	border: 0;
	align:  center center;
}

.LeaderboardXP {
	width: 50%;	
	align:  center center;
}

.LeaderboardIMR {
	width: 23%;	
	align:  center center;
}

#PlayerContent
{
	width: 100%;
	height: fit-children;
	flow-children: right;
}

#RadiantPlayers
{
	width: 50%;
	height: fit-children;
	background-color: #005000da;
	flow-children: down;
}

#DirePlayers
{
	width: 50%;
	height: fit-children;
	background-color: #500000da;
	flow-children: down;
}

.TeamTitle {
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 24px;
	font-weight: bolder;
	color:#fff;
}

#TabsButtonWrapper {
	border-top:  1px solid #29353b;
	padding-top:  10px;
	padding-bottom:  10px;
	width: 100%;
	flow-children: down;
	background-color:  gradient( linear, 0% 0, 0 100%, from( #414f6245 ), color-stop( 0.9, #13161a00 ), to( #13161a00 ) );
	/* background-color: #414f62; */
}

#MiniTabButtonContainer {
	flow-children: right;
	width: 100%;
	align:  center top;
	background-color: #04050780;
	margin: 10px 5px 0;
	padding: 4px 10px 0px;
	visibility: collapse;
}
.sub_nav_tab {	
	padding:  9px 10px;
}
.sub_nav_tab Label {
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #606366;
}
.sub_nav_tab.active Label,
.sub_nav_tab:hover Label {
	color: #e9ebed;
	text-shadow: 1px 1px 8px 2.0 #6ab5ff12;
}
.tab_separator {
	align: center center;
	margin: 0 20px;
}
.tab_separator Label {
	color: #606366;
}
#TabButtonContainer {
	flow-children: right;
	margin-left:  10px;
	margin-right:  10px;
	align:  center top;
}
#CloseButton {
	width: 90px;
	height: 37px;
	align: left center;
}
#CloseButtonImage {
	width: 37px;
	height: 37px;
	align: left center;
	background-image: url("file://panorama/images/custom_game/battlepass/assets/close.png");
	opacity: 0.5;
}
#CloseButton:hover #CloseButtonImage {
	opacity: 1;
}
.color_animation {	
	animation-name: color_transition;
	animation-duration: 3.0s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
#BattlepassTabButton,
#DonatorTabButton,
#LeaderboardTabButton {	
	width: 230px;
	height: 47px;
	padding-left: 30px;
	align: left center;
	margin-right: -18px;
}

#BattlepassTabButton .text,
#DonatorTabButton .text,
#LeaderboardTabButton .text {
	font-size: 19px;
	letter-spacing: 1px;
	text-transform: uppercase;
	align: left center;
	padding-left: 30px;
	margin-top: 0px;
}
#BattlepassTabButton .image,
#DonatorTabButton .image,
#LeaderboardTabButton .image {
	width: 14px;
	height: 18px;
	align: left center;
	margin-top: -1px;
}	
#BattlepassTabButton {
	background-image: url("file://panorama/images/custom_game/battlepass/assets/btn_battlepass.png");
}

#BattlepassTabButton:hover, #BattlepassTabButton:active,
#DonatorTabButton:hover, #DonatorTabButton:active,
#LeaderboardTabButton:hover, #LeaderboardTabButton:active {
	brightness:  2;
	animation-name:  none;
}
#BattlepassTabButton .text {
	color: #ceebf2;
	text-shadow: 1px 1px 2px 2.0 #1a424ca2;
}
#BattlepassTabButton .image {
	background-image: url("file://panorama/images/custom_game/battlepass/assets/btn_battlepass_icon.png");
}
#DonatorTabButton {
	background-image: url("file://panorama/images/custom_game/battlepass/assets/btn_donator.png");
}
#DonatorTabButton .text {
	color: #faf3e4;
	text-shadow: 1px 1px 2px 2.0 #5b4618a2;
}
#DonatorTabButton .image {
	background-image: url("file://panorama/images/custom_game/battlepass/assets/btn_donator_icon.png");
}
#LeaderboardTabButton {
	background-image: url("file://panorama/images/custom_game/battlepass/assets/btn_leaderboard.png");
}
#LeaderboardTabButton .text {
	color: #f3d0d0;
	text-shadow: 1px 1px 2px 2.0 #2a0505a2;
}
#LeaderboardTabButton .image {
	background-image: url("file://panorama/images/custom_game/battlepass/assets/btn_leaderboard_icon.png");
}

.ButtonClass:hover {
	saturation: 1.0;
}

.ButtonClass:active {
	saturation: 0.6;
}

#Tops {
	width: 100%;
	height: fit-children;
	flow-children: down;
}

.imbar-progress-bar
{
	width: 100%;
	border-radius: 10px;
	background-color: #282f39;
	height: 28px;
	vertical-align: center;
	overflow:  clip;
}

.ProgressBarLeft
{
	border-radius:  0 6px 6px 0;
	background-color: gradient( linear,  100% 0%, 0 0 , from (#0a9153), color-stop( 0.5, #09bb6a ), to(#0a9153));
}

#ProgressBar_Right
{
	background-color: gradient( linear, 0% 0%, 0 0%, from( #222222FF ), to( black ) );
}

.imbar-lvl
{
	width: 35%;
	font-size: 16px;
	margin-top: 2px;
	margin-left: 15px;
	color: white;
	vertical-align: center;
	horizontal-align: left;
	text-align: left;
	opacity: 1;
	text-shadow: 1px 1px 2px 2.0 #00000030;
}
.imbar-rank-wrapper {
	width: 30%;
	flow-children:  right;
	align: center center;
}
.imbar-rank
{
	margin-top: 2px;
	font-size: 14px;
	color: white;
	vertical-align: center;
	horizontal-align: left;
	text-align: left;
	opacity: 1;
	text-transform: uppercase;
	border-radius: 5px;
	margin-left: 8px;

	text-shadow: 1px 1px 2px 3.0 #00000030;
}

.imbar-rank-cicle {
	width: 12px;
	height: 12px;
	align:  center center;
	border-radius: 50%;
	opacity: 0.9;
	box-shadow: 0px 0px 2px 0px #00000085;
	brightness: 0.9;
}

.imbar-xp
{
	width: 40%;
	margin-top: 2px;
	margin-right: 18px;
	font-size: 16px;
	color: white;
	vertical-align: center;
	horizontal-align: right;
	text-align: right;
	opacity: 1;
	letter-spacing: 0.5px;
	text-shadow: 1px 1px 2px 2.0 #00000030;
}

.LeaderboardInGamePlayers {
	width: 100%;
	flow-children: right;
}

/* Labels */
.HoldoutLabelSmall
{
	color: #b2baaf;
	text-transform: uppercase;
	text-align: center;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	letter-spacing: 2px;
	text-overflow: clip;

	align: center center;
	text-align: center;	
	text-shadow: 1px 1px 2px 3.0 #000000ee;
	font-size: 22px;
}

.HoldoutLabelSmall_alt
{
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 14px;
	letter-spacing: 2px;
	text-overflow: clip;

	horizontal-align: center;
	text-align: center;	
	margin-bottom: 12px;
	text-shadow: 1px 1px 2px 3.0 #000000;
}

.HoldoutLabelSmall.Header
{
	width: 95px;
}

#RoshanLevel_alt
{
	margin-top: 5%;
	margin-left: 2%;
	horizontal-align: left;
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	letter-spacing: 2px;
	text-overflow: clip;

	text-align: center;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 16px;
}

/* Game Info */
.GameModeValues
{
	width: 100%;
	margin-bottom: 20px;
	flow-children: right;
}

.GameModeLabelPanel
{
	width: 26%;
	margin-left: 3%;
	margin-right: 3%;
	flow-children: down;
}

.GameModeValuePanel
{
	width: 15%;
	margin-left: 2%;
	flow-children: down;
	font-size: 13px;
}

.Separator {
	width: 1px;
	height: 100%;
	background-color: #303e45bb;
}

.ImbaGameInfoLabel
{
	margin-top: 3px;
	horizontal-align: left;
	font-size: 14px;
	color: #a2a99e;
	vertical-align: top;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: center center;
	text-shadow: 0px 0px 3px 2 #00000050;
	color: #a2a99e;
	line-height: 16px;
	/* color: #A3B5D0dd; */
}

#ComingSoonPanel, #TabTitlePanel {
	width: 70%;
	height: 40px;
	background-color: #39404855;
	align: left top;
	padding-left: 20px;	
}
#ComingSoon, #TabTitlePanel Label {
	color: #99a8ad;
	text-transform: uppercase;
	text-align: center center;
	font-size: 18px;
	align: left center;
	margin-top:  2px;
}

.BattlepassRow {
	width: 100%;
	height: 85px;
	margin-top: 5px;
	/* background-color: #000000ba; */
	horizontal-align: left;
	flow-children: right;
/*	overflow: noclip scroll; */
}

.BattlepassReward {
	width: 74px;
	height: 84px;
	margin-left: 2px;
	margin-right: 2px;
	flow-children: down;
}

.BattlepassRewardIcon {
	width: 74px;
	height: 64px;
	border: 1px solid #38424b;
	box-shadow: 0px 2px 6px 0px #000000a5;
	vertical-align: top;
	background-position: 0px 0px;
	background-size: 74px 64px;
}

.BattlepassRewardIcon_locked {
	wash-color: #000000a0;
	brightness: 0.6;
}
.BattlepassReward:hover .BattlepassRewardPanelUnlocked {
	opacity: 1;
}
.BattlepassRewardLabel {
	horizontal-align: left;
	font-size: 12px;
	vertical-align: top;
	letter-spacing: 1px;
	align: center center;
	text-transform: uppercase;
	text-align: center center;
	text-shadow: 0px 0px 3px 3 #00000070;
	color: #99a8ad;
	box-shadow: 0px 1px 8px 0px #000000a2;
	width: 100%;
}
.BattlepassRewardLabel.unlocked {
	background-color: #2a3440;
	border: 1px solid #1c2328;
	border-top: 0;
	margin-top:  -2px;
	box-shadow: 0px 0 0 0px #00000000;
}
.BattlepassRewardLabel.locked {
	background-color: #282a2d;
	border-color: #1c2328;
	margin-top:  -2px;
}

.BattlepassRewardLabelLocked {
	horizontal-align: left;
	font-size: 12px;
	vertical-align: top;
	letter-spacing: 1px;
	align: center center;
	text-transform: uppercase;
	text-align: center center;
	text-shadow: 0px 0px 3px 3 #000000a5;
	color: red;
	brightness:  1.5;
}

.BattlepassRewardPanelUnlocked {
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: #000000db;
}

.BattlepassRewardLabelUnlocked {
	font-size: 11px;
	letter-spacing: 1px;
	padding: 0 5px;
	align: center center;
	text-transform: uppercase;
	text-align: center center;
	text-shadow: 0px 0px 4px 4 #000000a5;
	color: #b8c5ca;
	align: center center;
	line-height: 14px;
}

#PatreonTableWrapper,
#CompanionTableWrapper,
#StatueTableWrapper {
	overflow: squish scroll;
	flow-children: down;
	height: 470px;
	width: 100%;
	visibility: collapse;
}

#CompanionTableWrapper {
	visibility: visible;
}

.DonatorRow {
	width: 100%;
	height: 185px;
	margin-top: 5px;
	margin-bottom: 3px;
	horizontal-align: left;
	flow-children: right;
/*	overflow: noclip scroll; */
}

.DonatorReward {
	width: 153px;
	height: 100%;
	margin-left: 2px;
	margin-right: 2px;
	flow-children: down;
	background-color: #000000;
}
.DonatorReward Button {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #021419 ), to( #1a2b30 ) );
	align: center center;
	margin-top:  12px;
	border-bottom: 1px solid #052730;
	border-right: 1px solid #052730;
	border-top: 1px solid #0c2831;
	border-left: 1px solid #0c2831;
}
.DonatorReward Label {
	color:  #b1b1b1;
	margin: 2px;
	font-size: 13px;
	letter-spacing: 0.4px;
	box-shadow: none;
}

.DonatorReward:hover {
	background-color: #141617;
}

.DonatorReward:active {
	background-color: #000000aa;
}

#CompanionNotification {
	width: 100%;
	height: 40px;
	background-color: black;
	align: center center;
	visibility: collapse;
	margin-bottom: 15px;
}

#CompanionNotification.success,
#CompanionNotification.failure {
	background-color: green;
	animation-name: fade_full;
	animation-duration: 3.0s;
	animation-timing-function: ease-in;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	visibility: visible;
}

#CompanionNotification.failure {
	background-color: darkred;
}

#CompanionNotification.not_donator {
	animation-duration: 3.0s;
	animation-name: fade_full;
	animation-timing-function: ease-in;
	animation-direction: alternate;
	animation-iteration-count: 1;
	background-color: #905000da;
	visibility: visible;
}

#CompanionNotification.not_donator:hover {
	background-color: #804000da;
}

#CompanionNotification.not_donator:active {
	background-color: #703000da;
}

#CompanionNotificationLabel {
	align: center center;
	color: white;
	text-align: center center;
	font-size: 18px;
	text-transform: uppercase;
}

.CompanionNew {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3366ffba ), to( #414849ba ) );
}

.CompanionUnique {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #997300ba ), to( #414849ba ) );
}

#DonatorOptions {
	width: 100%;
	height: 15%;
	margin-bottom: 5px;
	background-color: #000000da;
	padding: 10px;
}

#DonatorOptionsToggle {
	wash-color: #CDF;
}

#DonatorOptionsToggle
{
	width: 33%;
	height: 100%;
	align: left center;
	saturation: 0.9;
}

#DonatorOptionsToggleLabel {
	align: center center;
	color: white;
	text-align: center center;
	font-size: 16px;
}

.companion_enabled {
	background-color: #000090ba;
}

.companion_enabled:hover {
	background-color: #000060ba;
}

.companion_enabled:active
{
	saturation: 1.0;
	background-color: #000030ba;
}

.companion_disabled {
	background-color: #500000ba;
}

.companion_disabled:hover {
	background-color: #400000ba;
}

.companion_disabled:active
{
	saturation: 1.0;
	background-color: #300000ba;
}

.BattlepassButton {
	width: 190px;
	height: 40px;
	margin-left: 10px;
	margin-bottom: 5px;
	align:  left center;
	border-bottom: 1px solid #333333;
	border-right: 1px solid #333333;
	border-top: 1px solid #555555;
	border-top: 1px solid #555555;
	padding: 5px 20px;
	background-color:  gradient( linear, 0% 0, 0 100%, from( #394048 ), color-stop( 0.9, #4b565e ), to( #4b565e ) );
	flow-children: right;
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;	
	box-shadow: 0px 2px 6px 0px #000000a5;
}

.BattlepassButton Label {
	align: center center;
	color: #eaebeb;
	text-align: center center;
	font-size: 19px;
	font-weight: normal;
	letter-spacing: 2px;
	margin-top: 2px;
	text-transform: uppercase;
	text-shadow: 1px 1px 3px 2.0 #00000025;
}

#RefreshBattlepass {
	width: 20px;
	height: 20px;
	margin-right: 6px;
	background-image: url("s2r://panorama/images/control_icons/refresh_psd.vtex");
	background-size: 100% 100%;
	align: left center;
}

.BattlepassButton:hover {
	brightness: 1.6;
}

#RefreshBattlepass.Active {
	animation-name: refresh;
	animation-duration: 0.55s;
	animation-delay: 0.15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: reverse;
}

/* colors */

.arcana_border {
	border: 1px solid #88ff4d;
}

.immortal_border {
	border: 1px solid #e6b800;
}

.arcana_text {
	color:#88ff4d;
}

.immortal_text {
	color:#e6b800;
}

.gold {
	color: gold;
}

.blue {
	color: dodgerblue;
}

#rank_1 {
	color: gold;
}

#rank_2 {
	color: grey;
}

#rank_3 {
	color: darkorange;
}

.patreon_donator_row {
	margin-top: 1px;
	margin-bottom: 1px;
	width: 100%;
	height: 150px;
	flow-children: right;
	background-color: #000000aa;
	border-radius: 5px;
	border: 1px solid #1d2126;
}

.patreon_donator_row Image {
	margin: 10px;
	width: 25%;
	height: 100%;
	align: left center;
	border-radius: 5px;
	border: 1px solid #1d2126;
}

.patreon_donator_row_center {
	margin: 10px;
	width: 50%;
	height: 100%;
	background-color: #000000aa;
}