.BossBar
{
	width: 100%;
	height: 100%;
	z-index: -10;
}

#BossBarPanel
{
	margin-top: 9%;
	horizontal-align: center;
	flow-children: right;
	z-index: -1000;
}

.QuestGenericText
{
	font-family: TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

/* BOSS BARS */
.HoldoutLabelSmall
{
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 14px;
	letter-spacing: 2px;
	text-overflow: clip;

	horizontal-align: center;
	text-align: center;	
	margin-top: 12px;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 16px;
}

.HoldoutLabelSmall_alt
{
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 14px;
	letter-spacing: 2px;
	text-overflow: clip;

	horizontal-align: center;
	text-align: center;	
	margin-bottom: 12px;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 16px;
}

.HoldoutLabelSmall.Header
{
	width: 95px;
}

.TowerHP
{
	width: 500px;
	height: 64px;
	visibility: collapse;
}

.TowerProgressBar
{
	width: 90%;
	height: 24px;
	border-radius: 1px;
	border: 0px;
	background-color: black;
	vertical-align: middle;
	horizontal-align: right;
	box-shadow: fill #000 -3px -3px 6px 6px;	
}

.TowerProgressBar_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #320000 ), color-stop( 0.3, #a30f0f ), color-stop( .5, #a30f0f ), to( #320000 ) );
	box-shadow: inset #000 1px 1px 3px 3px;	
	border-radius: 2px;
}

.TowerProgressBar_Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( black ) );
}

.TowerProgressBarContainer
{
	width: 100%;
	height: 40px;
	margin-right: 6%;
	vertical-align: bottom;
}

.TowerIcon
{
	width: 48px;
	height: 48px;
	margin-left: 5%;	
	background-image: url("file://{images}/custom_game/game_info/Boss.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 90% 90%;
	z-index: 10;
}

.TowerHealth
{
	margin-left: 6%;
}

#DireTowerHP
{
	horizontal-align: right;
}
