.OverthrowGameInfo
{
	width: 95%;
	margin-top: -50px;
	flow-children: down;
}

Label
{
	font-size: 18px;
	color: #999999;
	vertical-align: top;
	margin-top: 8px;
}

#Intro01,
#Intro02
{
	width: 95%;
	horizontal-align: left;
}

#ImbaTitle
{
	horizontal-align: center;
}

.HeaderSpecial
{
	font-size: 30px;
	font-weight: bold;
	margin-top: 24px;
	horizontal-align: center;
	color: #FF7800;
}

.Header
{
	font-size: 18px;
	font-weight: bold;
	margin-top: 24px;
}

.InfoBox
{
	flow-children: right;
	width: 95%;
	margin-top: 20px;
	horizontal-align: left;
	border: 2px solid #555555;
	border-radius: 5px;
}

#HeroesImage
{
	margin-top: 2px;
	horizontal-align: left;
	vertical-align: center;
	height: 100%;
}

#AbilitiesImage
{
	margin-top: 24px;
	width: 93%;
	height: 52px;
	horizontal-align: left;
	flow-children: right;
}

.TextBox
{
	flow-children: down;
	width: 100%;
	margin-left: 2%;
	margin-right: 2%;
}

#ItemsImage
{
	margin-top: 24px;
	width: 93%;
	height: 48px;
	horizontal-align: left;
	flow-children: right;
}

#End
{
	font-size: 24;
}

.AbilityIcon
{
	margin: 2px;
	border: 1px solid #121212FF;
}
