
.ScoreboardLeft
{
	margin-left: 200px;
	flow-children: down;
}

.VictoryPanel
{
	flow-children: down;
	width: 100px;
	height: 100px;

	background-image: url("file://{images}/custom_game/goal_logo.psd");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	visibility: collapse;
}

#Wave,
#Goal
{
	margin-top: 2px;
	font-size: 14px;
	font-weight: bold;
	color: #9e7305;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	text-overflow: clip;
}

#Wave
{
	font-size: 14px;
	visibility: collapse;
}

#VictoryPoints
{
	margin-top: -20px;
	horizontal-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 60px;
	color: white;
	text-shadow: 2px 2px 2px #7b612b;
	color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #fffb84 ), color-stop( 0.75, #c88423 ), to( #9a6717 ) );
	text-overflow: clip;
}

#Timer,
#RadiantScore,
#DireScore
{
	font-size: 18px;
	font-weight: bolder;
	color: white;
	text-shadow: 2px 2px 2px #7b612b;
	text-align: center;
	width: 100%;
	text-overflow: clip;
}

#RadiantScore
{
	color: green;
}

#DireScore
{
	color: red;
}

#Timer.timer_visible
{
	opacity: 1;
}

#Timer.timer_hidden
{
	opacity: 0;
}

#Timer.timer_alert
{
	color: red;
}

.TeamOverlay
{
	width: 100%;
	height: 100%;
}

#TeamNotices
{
	margin-top: 50px;
	flow-children: down;
	width: 100%;
}


#FirstPlaceIndicator
{
	margin-left: 56px;
	horizontal-align: center;
	visibility: collapse;
	width: 32px;
	height: 32px;
}

.tied_for_first #FirstPlaceIndicator
{
//    visibility: visible;
}

#VeryCloseIndicator
{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 0, 255, 0.42);
//    visibility: collapse;
}

.very_close_to_victory #VeryCloseIndicator
{
	visibility: visible;
}

#CloseIndicator
{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 255, 255, 0.42);
	visibility: collapse;
}

.close_to_victory #CloseIndicator
{
	visibility: visible;
}

#VictoryStatusRow
{
	width: 100%;
}

#PointsToWin
{
	color: white;
	horizontal-align: center;
	font-size: 16px;
	visibility: collapse;
	overflow: noclip;
	text-shadow: 2px 2px 2px black;

	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.close_to_victory #PointsToWin
{
	visibility: visible;
	animation-name: CloseToVictoryAnim;
}

.very_close_to_victory #PointsToWin
{
	visibility: visible;
	animation-name: VeryCloseToVictoryAnim;
}

.victory #PointsToWin
{
	visibility: visible;
}


@keyframes 'CloseToVictoryAnim'
{
	0%
	{
		transform: translateX( -2px ) rotateZ( -3deg );
	}

	50%
	{
		transform: translateX( 2px ) rotateZ( 3deg );
	}
	
	100%
	{
		transform: translateX( -2px ) rotateZ( -3deg );
	}
}

@keyframes 'VeryCloseToVictoryAnim'
{
	0%
	{
		transform: translateX( -4px ) rotateZ( -10deg );
	}

	50%
	{
		transform: translateX( 4px ) rotateZ( 10deg );
	}
	
	100%
	{
		transform: translateX( -4px ) rotateZ( -10deg );
	}
}

#TempStatusRow
{
	width: 100%;
	margin-top: 34px;
}

#RecentScore
{
	margin-left: 72px;
	horizontal-align: left;
	color: white;
	font-size: 32px;
	font-weight: bold;
	text-shadow: 3px 5px 5px black;

	transition-property: transform, opacity;
	transition-duration: 0.15s;
	transform: scaleX(2) scaleY(2);
	opacity: 0;
}

#RecentScore.recent_score
{
	transform: scaleX(1) scaleY(1);
	opacity: 1;
}

